@page "/planets"

@using StarWars.Explorer.Components
@using StarWars.Explorer.Models
@using StarWars.Explorer.Services

@inject ISwapiService SwapiService

<div class="container mt-4">
	<h1>Star Wars Planets</h1>

	<SearchBox SearchText="@searchText" OnSearchChanged="HandleSearch" />

	@if (loading)
	{
		<LoadingIndicator />
	}
	else if (planets == null || !planets.Any())
	{
		<div class="alert alert-info">No planets found.</div>
	}
	else
	{
		<div class="row">
			@foreach (var planet in planets)
			{
				<div class="col-md-4 mb-4">
					<PlanetCard Planet="planet" />
				</div>
			}
		</div>
	}
</div>

@code {
	private List<Planet> planets;
	private bool loading = true;
	private string searchText = "";

	protected override async Task OnInitializedAsync()
	{
		await LoadPlanets();
	}

	private async Task LoadPlanets()
	{
		loading = true;
		planets = await SwapiService.GetPlanetsAsync(searchText);
		loading = false;
	}

	private async Task HandleSearch(string searchValue)
	{
		searchText = searchValue;
		await LoadPlanets();
	}
}