@inherits LayoutComponentBase

<div class="page">
	<div class="sidebar">
		<NavMenu />
	</div>

	<main>
		<div class="star-wars-header">
			<div class="top-row px-4">
				<h1>Star Wars Explorer</h1>
			</div>
		</div>

		<article class="content px-4">
			@Body
		</article>
	</main>
</div>